header {
    z-index: 110;
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    background-color:rgb(33, 33, 33);
}

h1 {
    color: white;
}

.master-title {
    color: red;
    font-size: 35px;
    padding-left: 15px;
}
.subtitle {
    position: relative;
    color: white;
    padding-left: 15px;
}

@media (max-width: 690px) {
    .master-title {
        display: none;
    }
    .subtitle {
        display: none;
    }
}

.nav-header {
    position: fixed;
    top: 0;
    right: 20px;
    overflow: hidden;
}

.nav-header a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-header a:hover {
    background-color: #ddd;
    color: black;
}

.nav-header a.active {
    background-color: red;
    color: white;
}

body {
    color: white;
    background-size:cover;
    margin: 0;
    padding: 0;
    margin-top: 85px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, black, rgb(135, 5, 5))
}

body.bio-body {
    background-image: linear-gradient(to bottom, black, rgb(33, 33, 33));
}

.bio-title {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 45px;
    margin-left: 20vw;
    margin-right: 20vw;
   
}

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.bio-container img{
    height: 30vw;
    margin-right: 10vw;
}

.bio-text p {
    text-indent: 2em;
    color: white;
    font-size: 18px;
    line-height: 2;
    margin-left: 10vw;
    margin-right: 10vw;
}

body p.quote {
    text-indent: 0;
    margin-left: 20vw;
    margin-right: 20vw;
}



footer {
    z-index:110;
    position:static;
    overflow: hidden;
    bottom: 0;
    background-color: rgb(172, 32, 32);
    color: white;
    padding: 0px;
}

.master-footer h1{
    position: relative;
    flex: 1;
    left: 10px;
    top: 0px;
}

.footer-subtitle {
    position: relative;
    left: 10px;
    bottom: 20px;

}

.sources {
    overflow: hidden;
}

.sources h1{
    position: relative;
    left: 40px;
}
