header {
    z-index: 110;
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    background-color:rgb(33, 33, 33);
}

.master-title {
    color: red;
    font-size: 35px;
    padding-left: 15px;
}
.subtitle {
    position: relative;
    color: white;
    padding-left: 15px;
}

.nav-header {
    position: relative;
    top: -45px;
    right: 20px;
    overflow: hidden;
}

.nav-header a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-header a:hover {
    background-color: #ddd;
    color: black;
}

.nav-header a.active {
    background-color: red;
    color: white;
}

body {
    background-size:cover;
    margin: 0;
    padding: 0;
    margin-top: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, black, rgb(135, 5, 5))
}

body.bio-body {
    background-image: linear-gradient(to bottom, black, rgb(33, 33, 33));
    margin-top: 80px;
}

body p {
    text-indent: 2em;
    color: white;
    font-size: 18px;
    line-height: 2;
    margin: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

body p.quote {
    text-indent: 0;
    margin-left: 15vw;
    margin-right: 15vw;
}



footer {
    z-index:110;
    position: relative;
    width: 100vw;
    background-color: rgb(172, 32, 32);
    color: white;
    padding: 0px;
}

.master-footer {
    position: relative;
    left: 20px;
    top: 10px;
}

.footer-subtitle {
    position: relative;
    bottom: 20px;

}

